.canyon {
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: .6;
}

.canyon::after {
    content: "";
    display: block;
    opacity: .6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
}

.canyon h1 {
    color:black;
  }

  .canyon h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
  }




